<div class="container-index">
  <div class="index-layout">
    <div class="search-card">
      <h1>Recipes</h1>
    </div>

    <div class="card-holder">
        <% @recipes.each do |recipe| %>
          <div class="card-recipe">
            <%= link_to cl_image_tag(recipe.photo.key), recipe_path(recipe), height: 300, width: 400, crop: :fill %>

            <i class="fa-regular fa-heart card-recipe-heart"></i>
              <div class="card-recipe-infos pt-2 px-3">
                <h2><%=link_to recipe.title, recipe_path(recipe) %></h2>
                <p><strong>Ingredients:</strong> <%= recipe.ingredients %><BR>
                <strong>Cooking time:</strong> <%= recipe.cookingTime %><BR>
                <strong>Description:</strong> <%= recipe.description %><BR></p>
              </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
