<div class="container-index">
  <div class="index-layout">
    <div class="search-card">

      <div data-controller="search-recipes">
      <p id="filter">Enter your ingredients, comma seperated</p>
      <form id="form" role="search">
                    <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Add more ingredients",
              'data-search-recipes-target': "form"
            %>
            <%= button_tag(type: "submit", class: "btn btn-default", data: {action: "click->search-recipes#addIngredient"}) do %>
            <i class="fa-solid fa-magnifying-glass"></i>
            <% end %>
      </form>

  <div data-search-recipes-target="ingredients">
    <% if @search_ingredients.length > 0 %>
    <% newingredients = @search_ingredients.split(", ") %>
        <div class="current-search">
          <h2>Current ingredients</h2>
          <% newingredients.each do |ingredient| %>
            <div class="current">
              <%= button_tag(type: "submit", class: "btn btn-default", data: {action: "click->search-recipes#removeIngredient", target: "ingredient", value: "#{ingredient}"}) do %>
              <div class="ingr">
                <p data-search-recipes-target="ingredient" data-search-recipes-ingredient-value=<%="#{ingredient}"%>><%= ingredient %></p>
                <i class="fa-solid fa-x"></i>
              </div>
              <% end %>
            </div>
          <% end %>
        </div>
    <% end %></div>
    </div>

      <div class ="dietary">
        <h2>Dietary restrictions</h2>
        <div class="check">
          <div class="box"><input type="checkbox" id="vegan" name="vegan" value="Dietary">
          <label for="vegan"> Vegan</label></div>
          <div class="box"><input type="checkbox" id="vegetarian" name="vegetarian" value="Dietary">
          <label for="vegetarian"> Vegetarian</label></div>
          <div class="box"><input type="checkbox" id="gluten-free" name="gluten-free" value="Dietary">
          <label for="gluten-free"> Gluten free</label></div>
          <div class="box"><input type="checkbox" id="lactose-free" name="lactose-free" value="Dietary">
          <label for="lactose-free"> Lactose free</label></div>
        </div>
      </div>
      <div class="your-list">
        <h2>Your pantry items</h2>
          <div class="items">
            <p>You currently have no items added on your list</p>
            <p><strong>Click here</strong> to go to list</p>
          </div>
      </div>
    </div>

    <div class="card-holder">
        <% @recipes.each do |recipe| %>
          <div class="card-recipe">
          <% if recipe.photo.key %>
            <%= link_to cl_image_tag(recipe.photo.key), recipe_path(recipe), height: 300, width: 400, crop: :fill %>
            <% else %>
            <%= image_tag "logo.png", height: 300, width: 400, crop: :fill %>
          <% end %>

              <div class="card-recipe-infos pt-2 px-3">
                <h2><i class="fa-regular fa-clock"> <%= recipe.cookingTime %></i> min</h2>
                <%# CHECKS IF USER IS SIGNED IN + FAVO / UNFAVO OPTION %>
                <% if user_signed_in? %>
                   <% if current_user.favorited?(recipe) %>
                       <div class="card-recipe-heart">
                         <%= link_to unfavorite_recipe_path(recipe),  data: { turbo_method: "post" } do %>
                         <h2><i class="fa-solid fa-heart"></i></h2>
                      <% end %>
                        </div>
                      <% else %>
                      <div class="card-recipe-heart">
                      <%= link_to favorite_recipe_path(recipe), data: { turbo_method: "post" } do %>
                      <h2><i class="fa-regular fa-heart"></i></h2>
                      <% end %>
                      </div>
                 <% end %>
              <%# IF USER NOT SIGNED IN, REFER TO SIGN UP PAGE WHEN THEY FAVO %>
                      <% else %>
                     <div class="card-recipe-heart">
                     <%= link_to new_user_registration_path do %>
                    <h2><i class="fa-regular fa-heart"></i></h2>
                  <% end %>
                </div>
            <% end %>

              <h2><%= link_to recipe.title, recipe_path(recipe) %></h2>
                <p><strong>Ingredients:</strong> <%=  %><BR>
                <% @ingredients = JSON.parse(recipe.ingredients) %>

                <% @ingredients.each do |ingredient| %>
                  <% ingredient.uniq.each do |ing|%>
                      <%= ing.capitalize %>,
                  <% end %>
                <% end %>

              </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
