<%# <div class="container">
  <% @recipes.each do |recipe| %>
    <%#<div>
      <h2><%= link_to recipe.title, recipe_path(recipe)</h2> %>
      <%# <h2><%= recipe.description</h2> %>
    <%#</div>
  <% end %>
<%# </div> %>

<%# <div class="container-index"> %>
  <%# <div class="index-layout"> %>
    <%# <div class="search-card"> %>
      <%# <h1>I am a card</h1> %>
    <%# </div> %>
    <%# <div class="card-holder"> %>
      <%# <div class="card-recipe"> %>
        <%# <% @recipes.each do |recipe|%>
          <%# <%= link_to cl_image_tag(recipe.photo.key), recipe_path(recipe), height: 300, width: 400, crop: :fill %>
        <%# <% end %>
        <%# <div class="card-recipe-infos"> %>
          <%# <h2><%=link_to recipe.title, recipe_path(recipe) </h2> %>
          <%# <p><%= recipe.description </p> %>
        <%# </div> %>
      <%# </div> %>
    <%# </div> %>
  <%# </div> %>
<%# </div> %>



<div class="container-index">
  <div class="index-layout">
    <div class="search-card">
      <p id="filter">filter search results</p>
      <form id="form" role="search">
        <input type="search" id="query" name="q" placeholder="Add more ingredients"
        aria-label="Search through site content">
        <button>
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
      <div class="current-search">
        <p>Current ingredients</p>
        <div class="current">
          <div class="ingr"><p>Tomato</p><i class="fa-solid fa-x"></i></div>
          <div class="ingr"><p>Mushroom</p><i class="fa-solid fa-x"></i></div>
          <div class="ingr"><p>Salad</p><i class="fa-solid fa-x"></i></div>
          <div class="ingr"><p>Squash</p><i class="fa-solid fa-x"></i></div>
        </div>
      </div>
      <p>one</p>
      <p>one</p>
      <p>one</p>
      <p>one</p>
    </div>
    <div class="card-holder">
      <div class="card-recipe">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-recipe-infos">
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
      </div>
      <div class="card-recipe">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-recipe-infos">
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
      </div>
      <div class="card-recipe">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-recipe-infos">
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
      </div>
      <div class="card-recipe">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-recipe-infos">
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
      </div>
       <div class="card-recipe">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-recipe-infos">
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
      </div>
      <div class="card-recipe">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-recipe-infos">
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
      </div>
      <div class="card-recipe">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-recipe-infos">
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
      </div>
      <div class="card-recipe">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-recipe-infos">
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
      </div>
    </div>
  </div>
</div>
