
<div class="container-index">
  <div class="index-layout">
    <div class="search-card">
      <p id="filter">filter search results</p>
      <form id="form" role="search">
        <input type="search" id="query" name="q" placeholder="Add more ingredients"
        aria-label="Search through site content">
        <button>
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
      <div class="current-search">
        <h2>Current ingredients</h2>
        <div class="current">
          <div class="ingr"><p>Tomato</p><i class="fa-solid fa-x"></i></div>
          <div class="ingr"><p>Mushroom</p><i class="fa-solid fa-x"></i></div>
          <div class="ingr"><p>Salad</p><i class="fa-solid fa-x"></i></div>
          <div class="ingr"><p>Squash</p><i class="fa-solid fa-x"></i></div>
        </div>
      </div>
      <div class ="dietary">
        <h2>Dietary restrictions</h2>
        <div class="check">
          <div class="box"><input type="checkbox" id="vegan" name="vegan" value="Dietary">
          <label for="vegan"> Vegan</label></div>
          <div class="box"><input type="checkbox" id="vegetarian" name="vegetarian" value="Dietary">
          <label for="vegetarian"> Vegetarian</label></div>
          <div class="box"><input type="checkbox" id="gluten-free" name="gluten-free" value="Dietary">
          <label for="gluten-free"> Gluten free</label></div>
          <div class="box"><input type="checkbox" id="lactose-free" name="lactose-free" value="Dietary">
          <label for="lactose-free"> Lactose free</label></div>
        </div>
      </div>
      <div class="your-list">
        <h2>Your pantry items</h2>
          <div class="items">
            <p>You currently have no items added on your list</p>
            <p><strong>Click here</strong> to go to list</p>
          </div>
      </div>
    </div>

    <div class="card-holder">
        <% @recipes.each do |recipe| %>
          <div class="card-recipe">
            <%= link_to cl_image_tag(recipe.photo.key), recipe_path(recipe), height: 300, width: 400, crop: :fill %>

            <%# CHECKS IF USER IS SIGNED IN + FAVO / UNFAVO OPTION %>
            <% if user_signed_in? %>
              <% if current_user.favorited?(recipe) %>
                <div class="card-recipe-heart">
                  <%= link_to unfavorite_recipe_path(recipe),  data: { turbo_method: "post" } do %>
                    <i class="fa-solid fa-heart fa-2xl"></i>
                  <% end %>
                </div>
              <% else %>
                <div class="card-recipe-heart">
                  <%= link_to favorite_recipe_path(recipe), data: { turbo_method: "post" } do %>
                    <i class="fa-regular fa-heart fa-2xl"></i>
                  <% end %>
                </div>
              <% end %>
              <%# IF USER NOT SIGNED IN, REFER TO SIGN UP PAGE WHEN THEY FAVO %>
            <% else %>
                <div class="card-recipe-heart">
                  <%= link_to new_user_registration_path do %>
                    <i class="fa-regular fa-heart fa-2xl"></i>
                  <% end %>
                </div>
            <% end %>

              <div class="card-recipe-infos pt-2 px-3">
                <h2><%=link_to recipe.title, recipe_path(recipe) %></h2>
                <p><strong>Ingredients:</strong> <%= recipe.ingredients %><BR>
                <strong>Cooking time:</strong> <%= recipe.cookingTime %><BR>
                <strong>Description:</strong> <%= recipe.description %><BR></p>
              </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
