<div class="container-index">
  <div class="index-layout">
    <div class="search-card">

      <div data-controller="search-recipes">
        <p id="filter">Enter your ingredients, comma seperated</p>
        <form role="search">
          <div id="form">
            <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "Enter ingredients, with comma",
                  'data-search-recipes-target': "form"
            %>

            <%= button_tag(type: "submit", class: "btn btn-default") do %>

            <%# <%= button_tag(class: "btn btn-default") do %>
              <i class="fa-solid fa-magnifying-glass"></i>
            <% end %>
          </div>

        <div data-search-recipes-target="ingredients">
          <% if @search_ingredients.present? %>
            <% newingredients = @search_ingredients.split(", ") %>
              <div class="current-search">
                <h2>Current ingredients</h2>
                <% newingredients.each do |ingredient| %>
                  <% next if ingredient.empty? %>
                    <div class="current">
                      <%= button_tag(type: "submit", class: "btn btn-default", data: {action: "click->search-recipes#removeIngredient"}) do %>
                      <div class="ingr">
                        <p><%= ingredient.capitalize %></p>
                        <div data-search-recipes-target="ingredientlist" data-ingredient=<%="#{ingredient.downcase}"%>>
                          <i class="fa-solid fa-x"></i>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
          <% end %>
        </div>

          <%# Cooking time search %>
          <div class="dietary"><BR>
            <h2>Cooking Time</h2>
            <div class="check">
              <%= radio_button_tag(:cooking_time, "1000", true) %>
              <%= label_tag(:cooking_time_all, "All") %>
              <%= radio_button_tag(:cooking_time, "30", params[:cooking_time] == '30') %>
              <%= label_tag(:cooking_time_30, "<30 min") %>
              <%= radio_button_tag(:cooking_time, "45", params[:cooking_time] == '45') %>
              <%= label_tag(:cooking_time_30, "<45 min") %>
              <%= radio_button_tag(:cooking_time, "60", params[:cooking_time] == '60') %>
              <%= label_tag(:cooking_time_30, "<60 min") %>
            </div>
          </div>

          <%# Dietary restrictions %>
          <div class="dietary"><BR>
            <h2>Dietery restrictions</h2>
            <div class="check">
              <%# I undid class = box for now (broke search? will try again) %>
              <%# Use checkboxes or radiobuttons ? %>

                <%= check_box_tag(:diets, "vegan", params[:diets] == 'vegan') %>
                <%= label_tag(:diets_vegan, "Vegan") %><BR>

                <%= check_box_tag(:diets, "vegetarian", params[:diets] == 'vegetarian') %>
                <%= label_tag(:diets_veggie, "Vegetarian") %><BR>

                <%= check_box_tag(:diets, "gluten free", params[:diets] == 'gluten free') %>
                <%= label_tag(:diets_glutenfree, "Gluten Free") %><BR>

                <%= check_box_tag(:diets, "low fodmap", params[:diets] == 'low fodmap') %>
                <%= label_tag(:diets_fodmap, "Low FODMAP") %><BR><BR>
              </div>

          <%= submit_tag "Filter Search" %>

          <%# Code underneath gives the call to action button class, but aligns the button right? %>
          <%# <%= submit_tag "Filter Search", :class => "btn-call" %>
          </div>
          </form>
      </div>

      <%# Pantry items / Inventory %><BR>
      <div class="your-list">
      <h2>Your pantry items</h2>
        <% if @items.present? %>
            <div class="items">
              <% @items.each do |item| %>
                <div class="ingr">
                  <%= item.product %> (Stock: <%= item.stock %>)<BR>
                </div>
              <% end %>
            </div>
        <% else %>
            <p>You currently have no items in your inventory.
            <strong><%= link_to "Add items", cookbook_path %></strong> to your inventory</p>
        <% end %>
      </div>
    </div>

  <%# ---------Recipe Results page ----------%>

  <% if @recipes.empty? %>
    <div class="no-recipes">
      <img src="recipe1-not-found.png",>
      <h2>Sorry! We don't have anything for your search</h2>
    </div>
  <% else %>
    <div class="card-holder">
         <% @recipes.each do |recipe| %>
          <div class="card-recipe">
          <% if recipe.photo.key %>
            <%= link_to cl_image_tag(recipe.photo.key), recipe_path(recipe), height: 300, width: 400, crop: :fill %>
          <% else %>
            <%= image_tag "logo.png", height: 300, width: 400, crop: :fill %>
          <% end %>

              <div class="card-recipe-infos pt-2 px-3">
                <h2><i class="fa-regular fa-clock"> <%= recipe.cooking_time %></i> min</h2>
                <%# CHECKS IF USER IS SIGNED IN + FAVO / UNFAVO OPTION %>
                <div class="card-recipe card-recipe-quickview" title="Quick view the recipe" data-bs-toggle="modal" data-bs-target="#exampleModal<%= recipe.id %>">
                  <i class="fa-solid fa-expand"></i>
                </div>
                <% if user_signed_in? %>
                   <% if current_user.favorited?(recipe) %>
                      <div class="card-recipe-heart">
                        <%= link_to unfavorite_recipe_path(recipe),  data: { turbo_method: "post" } do %>
                          <h2><i class="fa-solid fa-heart"></i></h2>
                        <% end %>
                      </div>
                    <% else %>
                      <div class="card-recipe-heart">
                        <%= link_to favorite_recipe_path(recipe), data: { turbo_method: "post" } do %>
                          <h2><i class="fa-regular fa-heart"></i></h2>
                        <% end %>
                      </div>
                    <% end %>
              <%# IF USER NOT SIGNED IN, REFER TO SIGN UP PAGE WHEN THEY FAVO %>
                <% else %>
                  <div class="card-recipe-heart">
                    <%= link_to new_user_registration_path do %>
                      <h2><i class="fa-regular fa-heart"></i></h2>
                    <% end %>
                  </div>
                <% end %>

              <h2><%= link_to recipe.title, recipe_path(recipe) %></h2>
                <p><strong>Ingredients:</strong> <%=  %><BR>
                <% @ingredients = JSON.parse(recipe.ingredients) %>

                <% @ingredients.each do |ingredient| %>
                  <% ingredient.uniq.each do |ing|%>
                      <%= ing.capitalize %>,
                  <% end %>
                <% end %>

                <!-- Modal for pop up recipe -->
                <div class="modal fade" id="exampleModal<%= recipe.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h2 class="modal-title fs-5" id="exampleModalScrollableTitle"><%= recipe.title %></h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <h2>Instructions</h2>
                          <% @instructions = JSON.parse(recipe.description) %>
                        <ol>
                          <% @instructions.each do |instruction| %>
                            <li class="pop_list"><%= instruction %></li>
                          <% end %>
                        </ol>
                      </div>
                      <div class="modal-footer">
                        <%= link_to "Show full Recipe", recipe_path(recipe), class: "btn-call" %>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
