<div class= "container-show">
  <div class="show">

    <div class="ingredient_list">
      <h2>Ingredients</h2>
      <% @ingredients.each do |ingredient| %>
        <% ingredient.uniq.each do |ing|%>
          <ul>
            <li><%= ing.capitalize %></li>
          </ul>
        <% end %>
      <% end %>
    </div>

    <div class="show-recipe">
      <div class= "recipe">
        <h2><%= @recipe.title %></h2>
        <% if @recipe.photo.key %>
          <%= cl_image_tag @recipe.photo.key, class:"img-fluid" %>
        <% end %>
        <div>
        <%= link_to("https://wa.me/?text=Hey%20there%21%0AI%20just%20found%20an%20amazing%20recipe%20for%20#{@recipe.title}%20on%20https%3A%2F%2Fwww.tastedontwaste.me%2Frecipe%2F#{@recipe.id}%20-%20do%20you%20wanna%20cook%20this%20tonight%20with%20me%3F%20%F0%9F%A7%91%E2%80%8D%F0%9F%8D%B3") do %>
        	  <i class="fa-brands fa-whatsapp"></i>
        <% end %>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        </div>
        <hr>
        <h2>Instructions</h2>
        <ol>
          <% @instructions.each do |instruction| %>
            <li><%= instruction %></li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
</div>
