<div class="navbar navbar-expand-sm navbar-light navbar-tdw sticky">
  <div class="container-fluid">
    <div class="container-logo">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo-2.png", height: 50 %>
      <% end %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <div class="name-card">
    <%= link_to "Go to your cookbook", "#", class: "btn-call" %>
      <% if current_user %>
        <% end %>
      </div>
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
          <% if current_user %>
          <p>Hello <%= current_user.name %>!</p>
          <% elsif !current_user %>
           <%= link_to "Home", root_path, class: "nav-link" %>
          <% end %>
          </li>
          <li class="nav-item dropdown">
            <% if current_user %>
              <%= image_tag "cheeseburger-dark.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div  class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "My cookbook", "#", class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete},class: "dropdown-item" %>
              </div>
            <% elsif !current_user %>
              <%= image_tag "cheeseburger-dark.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Sign up", new_user_registration_path, class: "dropdown-item" %>
                <%= link_to "Log in", new_user_session_path, class: "dropdown-item" %>
              </div>
            <% end %>
          </li>
      </ul>
    </div>
  </div>
</div>
