
<div class="container-all">
  <h1>My saved recipes</h1>
  <hr>
  <div class="divbtn">
    <%= link_to "Create your own recipe", new_my_recipe_path, class:"btn-call" %>
    <%= link_to "Add an item to the inventory list", new_item_path, class:"btn-call" %>
    <%= link_to "Back to the search page", root_path, class:"btn-call" %>
  </div>
    <div class="container-cookbook">
      <div class="index-layout-cookbook">
        <div class="card-holder">
          <% if @recipes_favorite %>
            <% @recipes_favorite.each do |recipe| %>
              <div class="card-recipe">
                <% if recipe.photo.key %>
                  <%= link_to cl_image_tag(recipe.photo.key), recipe_path(recipe), height: 300, width: 400, crop: :fill %>
                <% else %>
                  <%= image_tag "logo.png", height: 300, width: 400, crop: :fill %>
                <% end %>
                <div class="card-recipe-infos pt-2 px-3">
                  <h2><i class="fa-regular fa-clock"> <%= recipe.cooking_time %></i> min</h2>
                	  <%# CHECKS IF USER IS SIGNED IN + FAVO / UNFAVO OPTION %>
                  <% if user_signed_in? %>
                    <% if current_user.favorited?(recipe) %>
                      <div class="card-recipe-heart">
                        <%= link_to unfavorite_recipe_path(recipe),  data: { turbo_method: "post" } do %>
                          <h2><i class="fa-solid fa-heart"></i></h2>
                        <% end %>
                      </div>
                      <% else %>
                        <div class="card-recipe-heart">
                          <%= link_to favorite_recipe_path(recipe), data: { turbo_method: "post" } do %>
                            <h2><i class="fa-regular fa-heart"></i></h2>
                          <% end %>
                        </div>
                      <% end %>
                        <%# IF USER NOT SIGNED IN, REFER TO SIGN UP PAGE WHEN THEY FAVO %>
                      <% else %>
                        <div class="card-recipe-heart">
                          <%= link_to new_user_registration_path do %>
                            <h2><i class="fa-regular fa-heart"></i></h2>
                          <% end %>
                        </div>
                      <% end %>
                      <h2><%= link_to recipe.title, recipe_path(recipe) %></h2>
                      <p><strong>Ingredients:</strong> <%=  %><BR>
                      <% @ingredients = JSON.parse(recipe.ingredients) %>
                      <% @ingredients.each do |ingredient| %>
                      <% ingredient.uniq.each do |ing|%>
                        <%= ing.capitalize %>,
                      <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
            <% else %>
              <p>You have no favorite recipes yet!</p>
            <% end %>

              <%# my own recipes %>
                <% if @recipes_created %>
                  <% @recipes_created.each do |recipe| %>
                    <div class="card-recipe">
                      <% if recipe.photo.key %>
                        <%= link_to cl_image_tag(recipe.photo.key), my_recipe_path(recipe), height: 300, width: 400, crop: :fill %>
                      <% else %>
                        <%= link_to image_tag("logo.png"), my_recipe_path(recipe), height: 300, width: 400, crop: :fill %>
                      <% end %>
                      <% if current_user.favorited?(recipe) %>
                        <%= link_to favorite_recipe_path(recipe), method: :post do %>
                          <i class="fa-solid fa-heart card-recipe-heart"></i>
                        <% end %>
                      <% else %>
                        <%= link_to unfavorite_recipe_path(recipe), method: :post do %>
                        <%# <%= link_to save_post_post_path(anchor: "bookmark"), method: :post, class: "save-btn", id: "bookmark" do %>
                          <i class="fa-regular fa-heart card-recipe-heart"></i>
                        <% end %>
                      <% end %>
                      <%# <%= link_to "like", toggle_favorite_recipe_path(recipe), remote: true, method: :post %>
                      <i class="fa-regular fa-heart card-recipe-heart"></i>
                        <div class="card-recipe-infos pt-2 px-3">
                        <h2><i class="fa-regular fa-clock"> <%= recipe.cooking_time %></i> min</h2>
                          <h2><%=link_to recipe.title, my_recipe_path(recipe) %></h2>
                          <p><strong>Ingredients:</strong> <%= recipe.ingredients %><BR>
                          <%= link_to my_recipe_path(recipe), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this recipe?"} do %>
                          <i class="fa-regular fa-trash-can card-recipe-trash"></i>
                        <% end %>
                        </div>
                    </div>
                <% end %>
                <% else %>
                  <p>You have not created any recipes yet!</p>
                <% end %>
        </div>

        <%# inventory list %>
        <div class="inventory">
          <h1>My inventory list</h1>
            <br>
              <table class="table">
                <tr>
                  <th>Product</th>
                  <th>Best by</th>
                  <th>Days left</th>
                  <th>Stock</th>
                  <th>Delete</th>
                </tr>
                  <% @items.each do |item| %>
                <tr>
                  <td><button type="button" class="btn-nrm" data-bs-toggle="modal" data-bs-target="#exampleModal<%= item.id %>">
                  <%= item.product %>
                  </button></td>
                    <td><%= item.bestByDate.strftime("%d/%m/%Y") %></td>
                    <td><%= item.days %></td>
                    <td><%= item.stock %></td>
                    <td><%= link_to item_path(item), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this product?"} do %>
                    <i class="fa-regular fa-trash-can"></i>
                  <% end %>
                  </td>
                  <div class="modal fade" id="exampleModal<%= item.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel"><%= item.product %></h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                      <div class="modal-body">
                        <%= render 'items/form', item: item %>
                      </div>
                    </div>
                  </div>
                <% end %>
                </tr>
                </table>
               <button type="button" class="btn-nrm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Add an item to the inventory list
                </button>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Add item to inventory</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                      <div class="modal-body">
                        <%= render 'items/form', item: @item %>
                        <%# <p>hello i am a modal form</p> %>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
      </div>
    </div>

    <div>
      <%= link_to "Back to the search page", root_path, class:"btn-nrm" %>
    </div>
</div>
