<div class="container-cookbook">
  <h1>My cookbook</h1>
    <div class="card-holder">
    <% if @cookbook_recipes %>
        <% @cookbook_recipes.each do |recipe| %>
          <div class="card-recipe">
          <% if recipe.photo.key %>
            <%= link_to cl_image_tag(recipe.photo.key), my_recipe_path(recipe), height: 300, width: 400, crop: :fill %>
          <% else %>
          <%= image_tag "logo.png", height: 300, width: 400, crop: :fill %>
          <% end %>
            <% if current_user.favorited?(recipe) %>
              <%= link_to favorite_recipe_path(recipe), method: :post do %>
                <i class="fa-solid fa-heart card-recipe-heart"></i>
              <% end %>
            <% else %>
              <%= link_to unfavorite_recipe_path(recipe), method: :post do %>
              <%# <%= link_to save_post_post_path(anchor: "bookmark"), method: :post, class: "save-btn", id: "bookmark" do %>
                <i class="fa-regular fa-heart card-recipe-heart"></i>
             <% end %>
            <% end %>
            <%# <%= link_to "like", toggle_favorite_recipe_path(recipe), remote: true, method: :post %>
            <i class="fa-regular fa-heart card-recipe-heart"></i>
              <div class="card-recipe-infos pt-2 px-3">
                <h2><%=link_to recipe.title, my_recipe_path(recipe) %></h2>
                <p><strong>Ingredients:</strong> <%= recipe.ingredients %><BR>
                <strong>Cooking time:</strong> <%= recipe.cookingTime %><BR>
              </div>
          </div>
        <% end %>
      <% else %>
      <p>You have no recipes yet!</p>
      <% end %>
    </div>
    <%= link_to "Create your own recipe", new_my_recipe_path, class:"btn-nrm" %><br>
    <%= link_to "Back to homepage", root_path, class:"btn-nrm" %><br>

  <h1>My inventory list</h1>
  <br>
  <table>
    <tr>
    <th>Product</th>
    <th>Best by date</th>
    <th>Stock</th>
    </tr>
    <% @items.each do |item| %>
    <tr>
    <td><%= item.product %></td>
    <td><%= item.bestByDate %></td>
    <td><%= item.stock %></td>
    <% end %>
    </tr>
    </table>
    <%= link_to "Put an item on the list", new_item_path, class:"btn-nrm" %><br>
</div>
