<div class="container-cookbook">
  <div class="container-form">
  <%= simple_form_for @item do |f| %>
    <%= f.input :product, label: "Product"  %>
    <%= f.input :bestByDate, label: "Best by date" %>
    <%= f.input :stock, label: "Stock"  %>
    <%= f.submit(class: "btn-call")%>
  <% end %>
</div>
</div>
