<% content_for :meta_title, "#{@my_recipe.title} | Taste, don't waste" %>
<% content_for :meta_description, @my_recipe.description %>
<% content_for :meta_image, cl_image_path(@my_recipe.photo.key) if @my_recipe.photo.attached? %>

<div class= "container_my_recipe">
  <div class="show_my_recipe">
    <div class="my_recipe">
      <div>
        <% if @my_recipe.photo.key %>
          <%= cl_image_tag @my_recipe.photo.key, height: 400, width: 400, crop: :fill %>
        <% else %>
          <%= image_tag("logo.png") %>
        <% end %>
      </div>
    </div>
    <div class= "recipe_info">
      <h2><%= @my_recipe.title %></h2>
      <hr>
      <div>
        <h3>Ingredients</h2>
        <p><%= @my_recipe.ingredients %></p>
      </div>
      <div class="instruction">
        <h3>Instructions</h2>
        <p><%= @my_recipe.description %></p>
      </div>
      <%= link_to "Edit this recipe", edit_my_recipe_path, class:"btn-back" %>
      <%= link_to "Back to your cookbook", cookbook_path, class:"btn-back" %>
    </div>
  </div>
</div>
